@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
<<<<<<< HEAD
    font-family: "CustomFont";
    src: url('../assets/fonts/neon-club-music/NEON CLUB MUSIC/NEON CLUB MUSIC_bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal
=======
    font-family: "Regular";
    src: local('Reilova'),
    url('./assets/Fonts/reilova/Reilova.ttf');
    
}

@font-face {
    font-family: "Bold";
    src: local('NEON-CLUB-MUSIC_bold'),
    url('./assets/Fonts/neon-club-music/NEON-CLUB-MUSIC/NEON-CLUB-MUSIC_bold.otf');
    
>>>>>>> ee64039 (reupdated)
}
